body {
    font-family: "Montserrat", sans-serif;
    transition: background-color .5s;
    margin: 0;
    padding: 0;
    text-align: justify;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #000000;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

input[type=text],
input[type=text] {
    width: 100%;
    padding: 15px 0px 15px 0px;
    margin: 10px 0px 22px 0px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}


/* Add a background color when the inputs get focus */

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for all buttons */

button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 14px 14px;
    margin: 15p;
    border: none;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    border: none;
}

button:hover {
    opacity: 1;
    background-color: #555555;
    color: rgb(255, 255, 255);
}


/* Extra styles for the cancel button */

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}


/* Float cancel and signup buttons and add an equal width */

.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}


/* Add padding to container elements */

.container11 {
    padding: 50px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #000000;
    padding-top: 50px;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%;
    /* Could be more or less, depending on screen size */
}


/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* The Close Button (x) */

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}

button {
    font-family: "Montserrat", sans-serif;
}

.main {
    text-align: center;
    margin-top: 50px;
}

.container1 {
    min-height: calc(100vh - 300px);
    width: 900px;
    display: block;
    margin: 0px auto;
}

.leftsidemenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.leftsidemenu a,
.dropdown-btn {
    padding: 20px 5px 20px 5px;
    text-decoration: none;
    font-size: 14px;
    color: #bebebe;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.leftsidemenu a:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
}

#main {
    transition: margin-left .2s;
}

.active {
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 15px;
}

.container {
    display: inline-block;
    position: fixed;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 20px;
    z-index: 10;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin: 6px 0;
    transition: 0.2s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-9px, -7px);
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    position: fixed;
}

li {
    float: left;
}

li a {
    display: flex;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 24px 40px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: rgb(139, 137, 137);
}

li div {
    display: block;
    color: white;
    text-align: center;
    margin-top: 16px;
    margin-left: 30px;
    text-decoration: none;
}

.header {
    height: 50px;
}

.nav {
    display: flex;
    position: fixed;
    width: 100%;
    background: #fff;
    height: 70px;
    transform: translateY(-50px);
    justify-content: center;
}

.nav .container {
    left: 20px;
}

img {
    height: 506px;
    width: 900px;
}

li img {
    padding-top: 15px;
    height: 40px;
    width: 90px;
}

.footer {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    padding: 30px 0 0px 0;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.footer-container {
    font-size: 14px;
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.footer img {
    width: 266px;
    height: 150px;
}

.grid * {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
}

.img-main {
    width: 100px;
    height: 100px;
    transition: all 0.25s ease-in-out;
}

.img-main:hover {
    width: 105px;
    height: 105px;
    margin-top: -5px;
    margin-left: -5px;
}

div .nextprevdiv {
    text-align: center;
    margin-top: 40px;
}

.prevnext {
    color: rgb(0, 0, 0);
    padding: 20PX;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.prevnext:hover {
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}